.length{
    max-width: 30%;
    margin-left: 3rem;
}

.button{
    margin-left: 3rem;
}

.parentForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.form{
    display: flex;
    flex-direction: column;

}

.contact{
    color: white;
}